body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 65px; /*to make body appear below the fixed navbar*/
  }
  
  /* Home page styling */
  .hero {
    display:flex;
    height: 100vh;
    background-image: url('./components/backgroundimage.webp');
    background-size: 1200px;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6)
  }
  
  .home {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    color: white;
  }
  
  .home h1 {
    font-size: 56px;
    font-weight: bolder;
  }
  
  .home p {
    font-size: 22px;
    margin: 15 0;
    max-width: 550px;
    letter-spacing: 2px;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .job-list {
    margin: 1%;
  }
  
  .find-work, .talent-page-container {
    margin-left: 5%;
  }
  .find-work{
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
    
  }
  /* Navbar styles */
  .navbar {
    background-color: #da2222;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  
  /* Styles for the job listing cards */
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
  }
    
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /*width: 300px;*/
    margin: 20px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    /* color: #666; */
  }
  
  .card .company {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card .extra.content {
    font-style: italic;
    font-size: small;
  }
  
  .card:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
  }
  
  
  /* JobForm */
  
  .job-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8f8f8; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
    z-index: 1000; 
  }
  
  .job-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .job-form input[type="text"],
  .job-form input[type="date"],
  .job-form select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .job-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f0f0f0; 
    height: 60px; 
  }
  
  .job-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #22da4a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .job-form button:hover {
    background-color: #057134;
  }
  
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 67, 70, 0.5); 
    backdrop-filter: blur(3px); 
    z-index: 999; 
  }
  
  
  /* delete icon*/
  
  .delete-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .delete-text {
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .delete-icon-container:hover .delete-text {
    visibility: visible;
  }
  
  .fa-solid {
    margin-right: 5px;
  }
  
  .extra.content{
    display: flex;
    justify-content: space-between;
  }
  
  .button-holder{
    display: flex;
    justify-content: space-evenly;
   
  }
  
  #save{
    background-color: #22da4a;
    margin-right: 10%;
  }
  
  #cancel{
    background-color: #da2222;
    margin-left: 10%;
  }
  
  #save:hover{
    background-color: #057134;
  }
  
  #cancel:hover{
    background-color: #710505;
  }
  
  
  .filter-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: bold;
  }
  